// 全部页面的head中的内容
link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
style.
    body{margin-bottom:50px;}
script(src="/lib/jquery/dist/jquery.min.js")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
